.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/Black-Wallpaper.jpg");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/Black-Wallpaper-2.jpg");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("images/Wallpaper-3.jpg");
}
